.dotted {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.stripped {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px;
}

.solid {
  background-color: #e4e5e6;
}

.playlist-item-vertical-align {
  line-height: 60px;
}

.playlist-current-thumbnail {
  height: 200px;
}

#playlist-current-content {
  height: 100%;
  border-collapse: collapse;
  border: none;
}

#playlist-current-content * {
  padding: 0;
  margin: 0;
  border-top: none;
}

#valign-bottom {
  vertical-align: bottom
}

.playlist-item-thumbnail {
  height: 60px;
}

.playlist-item-body {
  padding-left: 1.5em;
}

.playlist-item-requester {
  padding-right: 2em;
  color: gray;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: transparent;
}

/* Minimum width for medium sized screens*/
@media(min-width: 992px) {
  .md-bottom-right-align {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .md-playlist {
    max-height: 500px;
    overflow: auto;
  }
}

/* Minimum width for small sized screens*/
@media(max-width: 768px) {
  .sm-hide {
    display: none
  }
}